<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ab7c62">  <td>18/10/28 14:16:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethod.afterClass()[pri:0, instance:testCases.TC003_MergeLead@286778]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/28 14:16:17</td>   <td>104</td> <td title="&lt;&lt;ProjectMethod.afterSuite()[pri:0, instance:testCases.TC003_MergeLead@286778]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/28 14:16:17</td>   <td>4</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethod.afterTest()[pri:0, instance:testCases.TC003_MergeLead@286778]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/28 14:15:22</td>   <td>-54881</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethod.beforeClass()[pri:0, instance:testCases.TC003_MergeLead@286778]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>18/10/28 14:15:22</td>   <td>-54862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Report.beforeMethod()[pri:0, instance:testCases.TC003_MergeLead@286778]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/28 14:15:22</td>   <td>-55199</td> <td title="&gt;&gt;ProjectMethod.beforeSuite()[pri:0, instance:testCases.TC003_MergeLead@286778]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/28 14:15:22</td>   <td>-54897</td> <td>&nbsp;</td><td title="&gt;&gt;ProjectMethod.beforeTest()[pri:0, instance:testCases.TC003_MergeLead@286778]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/28 14:16:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethod.closeApp()[pri:0, instance:testCases.TC003_MergeLead@286778]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>18/10/28 14:16:18</td>   <td>1066</td> <td title="&lt;&lt;Report.endResult()[pri:0, instance:testCases.TC003_MergeLead@286778]">&lt;&lt;endResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/28 14:15:22</td>   <td>-54841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethod.login()[pri:0, instance:testCases.TC003_MergeLead@286778]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/10/28 14:15:29</td>   <td>-47647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_MergeLead.loginLogout()[pri:0, instance:testCases.TC003_MergeLead@286778]">loginLogout</td> 
  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/10/28 14:15:22</td>   <td>-54897</td> <td>&nbsp;</td><td title="&gt;&gt;TC003_MergeLead.setData()[pri:0, instance:testCases.TC003_MergeLead@286778]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
</table>
