<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3ffec">  <td>18/10/13 09:43:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Lead.create()[pri:0, instance:testcases.Lead@38ae61]">create</td> 
  <td>TestNG-test=Test(failed)-1@13090788</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/10/13 09:43:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MergeLead.create1()[pri:0, instance:testcases.MergeLead@1610302]">create1</td> 
  <td>TestNG-test=Test(failed)-3@18101103</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>18/10/13 09:43:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FindLeads.create2()[pri:0, instance:testcases.FindLeads@4fe44c]">create2</td> 
  <td>TestNG-test=Test(failed)-2@22563375</td>   <td></td> </tr>
</table>
