<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ab7c62">  <td>18/10/28 16:50:12</td>   <td>0</td> <td title="&gt;&gt;ProjectMethod.beforeSuite()[pri:0, instance:testCases.TC003_MergeLead@286778]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/28 16:50:12</td>   <td>266</td> <td>&nbsp;</td><td title="&gt;&gt;ProjectMethod.beforeTest()[pri:0, instance:testCases.TC003_MergeLead@286778]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/10/28 16:50:12</td>   <td>266</td> <td>&nbsp;</td><td title="&gt;&gt;TC003_MergeLead.setData()[pri:0, instance:testCases.TC003_MergeLead@286778]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/28 16:50:12</td>   <td>281</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethod.beforeClass()[pri:0, instance:testCases.TC003_MergeLead@286778]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>18/10/28 16:50:12</td>   <td>298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Report.beforeMethod()[pri:0, instance:testCases.TC003_MergeLead@286778]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/28 16:50:12</td>   <td>329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethod.login()[pri:0, instance:testCases.TC003_MergeLead@286778]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/10/28 16:50:19</td>   <td>7148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_MergeLead.loginLogout()[pri:0, instance:testCases.TC003_MergeLead@286778]">loginLogout</td> 
  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/28 16:51:10</td>   <td>57891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethod.closeApp()[pri:0, instance:testCases.TC003_MergeLead@286778]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
</table>
